.chat-div {
  height: 60vh;
  max-height: 60vh;
}

.input-div {
  background: #000;
  bottom: 0;
  width: 100%;
}

.input-div > input {
  margin: 3px;
  border: 0;
  padding: 10px;
  width: 70%;
}

.input-div > button {
  width: 20%;
  border: none;
  margin: 3px auto;
  padding: 10px;
  height: 10%;
  border-radius: 5px;
}

#message-div {
  list-style-type: none;
  margin: 0;
  padding: 0;
  min-height: 80%;
  height: 80%;
  max-height: 80%;
  max-width: 100%;
  overflow-y: scroll;
  word-wrap: break-word;
}

#message-div > div {
    padding: 5px 10px;
}

#message-div > div:nth-child(odd) {
  background: #eee;
}

#message-div > div:nth-child(even) {
  margin-left: 10px;
}

.message-user-name {
  font-weight: bold;
}

.message-text {
}

#chat-header {
  padding: 10px;
  background-color: black;
  color: #eee;
  text-align: center;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom: 2px outset;
}
