.chat-div {
  height: 80%;
  min-height: 80%;
}

.input-div {
  background: #000;
  padding: 3px;
  bottom: 0;
  width: 100%;
  border: #000;
}

.input-div > input {
  border: 0;
  padding: 10px;
  width: 70%;
  margin-right: .5%;
}

.input-div > button {
  width: 20%;
  background: rgb(130, 224, 255);
  border: none;
  margin: 0 auto;
  padding: 10px;
  height: 10%;
}

.message-div {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 90%;
  max-height: 90%;
  overflow-y: scroll;
}

.message-div>div {
  padding: 5px 10px;
}

.message-div>div:nth-child(odd) {
  background: #eee;
}

.message-div>div:nth-child(even) {
  /*background: #eee;*/
  margin-left: 10px;
}

.message-user-name {
  font-weight: bold;
}

.message-text {
}
