@import url('https://fonts.googleapis.com/css?family=Montserrat|Rokkitt');

#progressBar{
	background-color: rgb(26, 82, 65);
	color: white;
	font-family: 'Montserrat', sans-serif; 
	padding: 1em 1em 1em 3em;
	width: 100%;
}
h1{
	font-family: 'Rokkitt', serif;
	font-size: 3em;
	padding: 0.5em 0.5em 0.5em 1em;
}

span{
	padding-right: 1em;
}

#questionMark{
	position: fixed;
	bottom: 10px;
	left: 10px;
	background-color: orange;
	color: black;
	width: 1.5em;
	height: 1.5em;
	border-radius: 50%;
	font-size: 4em;
	font-weight: bold;
	border: none;
	box-shadow: none;
}

#gameView{
	width: 80%;
	padding: 5% 5% 5% 25%;
}