* { margin: 0; padding: 0; box-sizing: border-box; }
body { font: 13px Helvetica, Arial; }


#game{
	width: 100%;
}

.chat-div{
	width: 30%;
	background-color: #ff0000;
	float: right;
}

#gameboard{
	background-color: rgb(58, 148, 122);
	width: 70%;
	margin: 0;
	float: left;
	color: white;
}
