* { margin: 0; padding: 0; box-sizing: border-box; }
html {
	height: 100vh;
	margin: 0;
}
body {
	font: 13px Helvetica, Arial;
	min-height: 100vh;
	margin: 0;
}
#game{
	width: 100%;
}

.chat-div{
	width: 30%;
	float: right;
	height: 100%;
}

#gameboard{
	background-color: rgb(58, 148, 122);
	width: 70%;
	margin: 0;
	float: left;
	color: white;
}
